# Environment variables
.env

# Virtual environment
venv/

# Python cache
_pycache_/
*.pyc

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Coverage reports
.coverage
htmlcov/

# Log files
*.log